<div class=pycbc-meta key="render-function" value="render_tmplt"></div><div class=pycbc-meta key="filenames" value="H1L1-INFERENCE_PRIOR_TC-1126259452-16.png,H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png,H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png,H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png,H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png,H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png,H1L1-INFERENCE_PRIOR_RA-1126259452-16.png,H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png,H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png"></div><!-- add a subtitle -->


<!-- hold images inside a well -->
<div class="scaffold well">

    <!-- set file counter integer -->
    

    <!-- display formatted files -->
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A1"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_TC-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_TC-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_TC-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A1">
                                    <b>A1. {{cp.get('H1L1-INFERENCE_PRIOR_TC-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_TC-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A2"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A2">
                                    <b>A2. {{cp.get('H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS1-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A3"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A3">
                                    <b>A3. {{cp.get('H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_MASS2-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A4"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A4">
                                    <b>A4. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_A-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A5"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A5">
                                    <b>A5. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_AZIMUTHAL-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A6"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A6">
                                    <b>A6. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN1_POLAR-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A7"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A7">
                                    <b>A7. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_A-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A8"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A8">
                                    <b>A8. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_AZIMUTHAL-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A9"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A9">
                                    <b>A9. {{cp.get('H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_SPIN2_POLAR-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A10"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A10">
                                    <b>A10. {{cp.get('H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DISTANCE-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A11"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A11">
                                    <b>A11. {{cp.get('H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_INCLINATION-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A12"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_RA-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_RA-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_RA-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A12">
                                    <b>A12. {{cp.get('H1L1-INFERENCE_PRIOR_RA-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_RA-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            
                <div class="col-md-6" style="padding-top:20px;">
                <a name="A13"></a>
                
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A13">
                                    <b>A13. {{cp.get('H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png', 'title')}}</b>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_DEC-1126259452-16.png' , '') }}
                    {% endif %}
                
                </div>
                
                <div class="col-md-6" style="padding-top:20px;">
                
                    <a name="A14"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A14">
                                    <b>A14. {{cp.get('H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/2._priors/H1L1-INFERENCE_PRIOR_POLARIZATION-1126259452-16.png' , '') }}
                    {% endif %}
                    
                
                </div>
            

            <!-- one file case -->
            

            <!-- increment -->
            

    </div>
    

</div>