<div class=pycbc-meta key="render-function" value="render_tmplt"></div><div class=pycbc-meta key="filenames" value="H1L1-INFERENCE_TABLE_0-1126259466-8.html,H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png"></div><!-- add a subtitle -->


<!-- hold images inside a well -->
<div class="scaffold well">

    <!-- set file counter integer -->
    

    <!-- display formatted files -->
    
        <div class="row">

            <!-- two file case -->
            

            <!-- one file case -->
            
                <div class="col-md-12" style="padding-top:20px;">
                <a name="A1"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_TABLE_0-1126259466-8.html') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_TABLE_0-1126259466-8.html') %}
                            {% if cp.has_option('H1L1-INFERENCE_TABLE_0-1126259466-8.html', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A1">
                                    <b>A1. {{cp.get('H1L1-INFERENCE_TABLE_0-1126259466-8.html', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_TABLE_0-1126259466-8.html' , '') }}
                    {% endif %}
                    
                </div>
            

            <!-- increment -->
            

    </div>
    
        <div class="row">

            <!-- two file case -->
            

            <!-- one file case -->
            
                <div class="col-md-12" style="padding-top:20px;">
                <a name="A2"></a>
                    
                    {% if path_exists('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png') %}
                        {% set cp = get_embedded_config('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png') %}
                            {% if cp.has_option('H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A2">
                                    <b>A2. {{cp.get('H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/cbiwer/src/PyCBCInferenceWorkshopMay2019/pycbc_inference_workflow/bbh/results/3._posteriors/H1L1-INFERENCE_POSTERIOR_0-1126259466-8.png' , '') }}
                    {% endif %}
                    
                </div>
            

            <!-- increment -->
            

    </div>
    

</div>