<div class=pycbc-meta key="render-function" value="render_tmplt"></div><div class=pycbc-meta key="filenames" value="inference.ini"></div><!-- add a subtitle -->


<!-- hold images inside a well -->
<div class="scaffold well">

    <!-- set file counter integer -->
    

    <!-- display formatted files -->
    
        <div class="row">

            <!-- two file case -->
            

            <!-- one file case -->
            
                <div class="col-md-12" style="padding-top:20px;">
                <a name="A1"></a>
                    
                    {% if path_exists('/home/daniel.finstad/projects/pp_tests/sampler_comparison/test_workflow2/results/3._workflow/3.03_inference_configuration/inference.ini') %}
                        {% set cp = get_embedded_config('/home/daniel.finstad/projects/pp_tests/sampler_comparison/test_workflow2/results/3._workflow/3.03_inference_configuration/inference.ini') %}
                            {% if cp.has_option('inference.ini', 'title') %}
                                <p class="text-center" style="font-size:18px;">
                                    <a href="#A1">
                                    <b>A1. {{cp.get('inference.ini', 'title')}}</b></p>
                                    </a>
                                </p>
                            {% endif %}
                            {{ setup_template_render('/home/daniel.finstad/projects/pp_tests/sampler_comparison/test_workflow2/results/3._workflow/3.03_inference_configuration/inference.ini' , '') }}
                    {% endif %}
                    
                </div>
            

            <!-- increment -->
            

    </div>
    

</div>